.starRating{
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
.on {
    color: #FDBF2D;
    font-size: 25px;
}
.off {
    color: #ccc;
    font-size: 25px;

}
.ratingCount {
  font-weight: bold;
  margin: 10px;
  font-size: 20px;
}
}
.chart {
  width: 250px;
  height: 250px;
}